.icon-button {
  background-color: transparent;
  border: none;
  color: inherit;
}
.c-link{
  cursor: pointer;
}
.form-control.col-8 {
  width: 66.666667%;
}
.form-control.col-10 {
  width: 83.33333333%;
}
.ml-10 {
  margin-left: 10px;
}
.start-page {
  font-size: 30px;
  height: 300px;
  line-height: 300px;
  color: #ccc;
  text-align: center;
}
.left-panel {
  min-height: 97vh;
  position: relative;
}
.button-group {
  position: absolute;
  width: 100%;
  bottom: 0;
  .btn {
    width: 100%;
  }
}