.icon-button {
  background-color: transparent;
  border: none;
  color: inherit;
}
.c-link{
  cursor: pointer;
}
.form-control.col-8 {
  width: 66.666667%;
}
.form-control.col-10 {
  width: 83.33333333%;
}